{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Licenciatura en Ciencia de la Computación</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/heroic-features.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/footer_lcc_web.css' %}">

</head>
<body>
<!-- Navigation -->
  <div class="static-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
              <a class="navbar-brand text-light" href="https://www.usach.cl/ " style="text-transform: uppercase;"><small>Universidad De Santiago de Chile</small></a>
              <a class="navbar-brand text-light" style="text-transform: uppercase;"><small>|</small></a>
              <a class="navbar-brand text-light" href="http://fciencia.usach.cl/" style="text-transform: uppercase;"><small>Facultad de Ciencia</small></a>
          </div>
        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a  href="https://www.usach.cl/"><img src="{% static 'img/escudo.png' %}" class="img-fluid" alt="Responsive image"></a>
      <a  href="index.html"><img src="{% static 'img/logoweb.png' %}" class="img-fluid" alt="Responsive image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="\">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\noticias">Noticias</a>
          </li>
        {% for content in list_of_content %}
          <li class="nav-item">
            <a class="nav-link" href="\{{content.nombre}}">{{content.nombre}}</a>
          </li>
         {% endfor %}

        </ul>
      </div>
    </div>
  </nav>
</div>

  <div class="container">

    <div class="container">
        <center><img src="{% static 'img/portada_dmcc.jpg' %}" class="img-fluid" alt="Responsive image"></center>
    </div>
    <!-- Page Features -->
    <div class="row text-center">
{% block content %}

        {% for publicacion in list_of_publications %}
        <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" height="250" width="400" src="media/{{publicacion.imagen}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{publicacion.titulo}} </h4>
            <p class="card-text">{{publicacion.fecha}}</p>
          </div>
          <div class="card-footer">
            <a href="noticias/{{publicacion.id}}" class="btn btn-primary">Ver mas</a>
          </div>
        </div>
      </div>
      {% endfor %}
    <!-- /.row -->
    <div class="container">
          <a class="btn btn-primary btn-lg btn-block" href="\noticias" role="button">¡Mas Noticias!</a>
        </div>

  <!-- /.container -->
{% endblock %}
  <!-- Footer -->
  <footer>
 <div class="container">
   <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="adress">
                     <span>Dirección</span>
                     <li>
                        <p>Universidad de Santiago de Chile. Avenida Alameda Libertador Bernardo O`Higgins 3363. Estacion Central, Santiago, Chile.</p>
                      </li>

                      <li>
                        <p>Mesa Central: +562 2718 20 01</p>
                        <p>Telefono: +562 2718 20 78</p>
                      </li>

                      <li>
                        <p>Email: infolcc@usach.cl</p>
                      </li>
                 </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a  href="index.html"><img src="{% static 'img/logoweb.png' %}" class="img-fluid" alt="Responsive image"></a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
               <a  href="index.html"><img src="{% static 'img/facultad.jpeg' %}" class="img-fluid" alt="Responsive image"></a>
            </div>
       </div>
    </div>
</footer>






    <!--<footer class="py-5 bg-dark">
    <div class="container">
      <h0 class="m-0 text-left text-white">Universidad de Santiago de Chile</h0>
      <h0 class="m-0 text-left text-white">Avenida Alameda Libertador Bernardo O`Higgins 3363. Estacion Central, Santiago, Chile</h0>
      <p class="m-0 text-left text-white">Mesa Central +562 2718 20 01</p>
      <p class="m-0 text-left text-white">Telefono: +562 2718 20 78</p>
      <p class="m-0 text-left text-white">Email: infolcc@usach.cl</p>

    </div>
    <!-- /.container -->
  <!--</footer>-->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
