{% extends 'html/index.html' %}


{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }

 td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
 }

 tr:nth-child(even) {
     background-color: #dddddd;
 }
</style>
</head>
<body>
    {% for program in list_of_program.0 %}
      <h2>Plan N°{{program.codigo}}</h2>
      <table>
          <tr>
              <th>Nombre</th>
              <th>Semestre</th>
              <th>Nivel</th>
              <th>Area</th>
              <th>Tel</th>
              <th>SCT</th>
              <th>Requisitos</th>
              </tr>
              {% for asignatura in list_of_program.1 %}
                {% if program.codigo == asignatura.plan.codigo %}
                  <tr>
                    <td>{{asignatura.nombre}}</td>
                    <td>{{asignatura.semestre}}</td>
                    <td>{{asignatura.nivel}}</td>
                    <td>{{asignatura.areacon}}</td>
                    <td>{{asignatura.horatel}}</td>
                    <td>{{asignatura.sct}}</td>
                    <td>{{asignatura.requisito.nombre}}</td>
                   </tr>
                {% endif %}
              {% endfor %}
      </table>
    {% endfor %}
{% endblock %}
